<div id="about-bio-toggle-parent" class="bio-toggle">
  <script type="text/javascript">
    let bioToggle = () => {
        let bio = document.getElementById('about-bio');
        let bioAlt = document.getElementById('about-bio-alt');
        let bioToggle = document.getElementById('about-bio-toggle');
        let parent = document.getElementById('about-bio-toggle-parent');
        let profilePic = document.getElementById('about-profile-img-figure');
        let gif = document.getElementById('about-easter-egg-gif-figure');
        let wwiaftm = document.getElementById('wwiaftm-container');
        const colors = ['var(--global-theme-dark-color)', '#08573b', '#c30000'];
        let tempBio = bio.innerHTML;
        let tempBioToggle = bioToggle.innerHTML;
        bio.innerHTML = bioAlt.innerHTML;
        bioAlt.innerHTML = tempBio;
        if (tempBioToggle.includes('informal')) {
            tempBioToggle = tempBioToggle.replace('an informal', 'a formal')
            tempBioToggle = tempBioToggle.replace('fa-user-secret', 'fa-user-tie');
            let easterEgg = document.getElementById('about-bio-easter-egg');
            if (easterEgg) {
                easterEgg.classList.add('d-none');
                easterEgg.onclick = null;
            }
            if (profilePic.classList.contains('d-none')) {
                profilePic.classList.remove('d-none');
                wwiaftm.classList.add('d-none');
                gif.classList.add('d-none');
            }
        } else {
            tempBioToggle = tempBioToggle.replace('a formal', 'an informal');
            tempBioToggle = tempBioToggle.replace('fa-user-tie', 'fa-user-secret');
            {% if include.easter-eggs %}
            let easterEgg = document.getElementById('about-bio-easter-egg');
            if (easterEgg) {
                let randomVal = Math.floor(Math.random() * colors.length)
                easterEgg.style.setProperty('background-color', colors[randomVal]);
                if (randomVal == colors.length - 1) {
                    easterEgg.onclick = () => {
                        if (profilePic.classList.contains('d-none')) {
                            profilePic.classList.remove('d-none');
                            gif.classList.add('d-none');
                        } else {
                            profilePic.classList.add('d-none');
                            gif.classList.remove('d-none');
                            if (window.outerWidth < 576) {
                                gif.scrollIntoView({
                                    behavior: 'smooth',
                                    block: 'center',
                                    inline: 'nearest'
                                });
                            }
                        }
                    }
                } else if (randomVal == colors.length - 2) {
                    easterEgg.onclick = () => {
                        if (profilePic.classList.contains('d-none')) {
                            profilePic.classList.remove('d-none');
                            wwiaftm.classList.add('d-none');
                        } else {
                            profilePic.classList.add('d-none');
                            wwiaftm.classList.remove('d-none');
                            if (window.outerWidth < 576) {
                                wwiaftm.scrollIntoView({
                                    behavior: 'smooth',
                                    block: 'center',
                                    inline: 'nearest'
                                });
                            }
                        }
                    }
                } else {
                    easterEgg.onclick = () => {
                        confetti({
                            particleCount: 100,
                            spread: 70,
                            origin: { y: 0.6 }
                        });
                    }
                }
                easterEgg.classList.remove('d-none');
            }
            {% endif %}
        }
        bioToggle.innerHTML = tempBioToggle;
    }
  </script>
  <a id="about-bio-toggle" class="btn" role="button" onclick="bioToggle()"><i class="fa fa-user-tie"></i>&nbsp;&nbsp;Click here for a formal bio</a>
  <a id="about-bio-easter-egg" class="btn d-none" role="button"><i class="fa fa-dice"></i></a>
</div>
